<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<h4>Inputs:</h4>
<ul>
<% @recipe.input_resources.each do |input_resource| %>
    <li>
      <%= render input_resource %>
    </li>
  <% end %>
</ul>

<h4>Outputs:</h4>
<ul>
<% @recipe.output_resources.each do |output_resource| %>
    <li>
      <%= render output_resource %>
    </li>
  <% end %>
</ul>

<p>
  <strong>Structure:</strong>
  <%= @recipe.structure.name %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @recipe.faction.capitalize %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recipe.time_formatted %>
</p>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
